
.container {
    min-height: 100vh;
}

@media screen and (min-width: 600px) {
    .loginContainer {
        width: 400px !important;
    }
}

@media screen and (min-width: 900px) {
    #root {
        padding: 0 !important;
    }
}



