
@media screen and (min-width: 900px) {
    #root {
        padding: 0 !important;
    }
}

@media screen and (min-width: 900px) {
    
    .form {
        display: flex;
        width: 400px;
    }
}



