.listItem {
    border-radius: 60px 0 0 59px !important;
    justify-content: flex-start !important;
    width: 100% !important;
}

.listItemSelected::before {
    top: 0;
}

.listItemSelected::after {
    bottom: 0;
}

.listItem svg {
    margin-right: .7rem;
}